#div_top{
width:100%;
height:30px;
background-color:yellow;
text-align:right;
}
#div_info{
width:100%;
height:50px;
background-color:red;
}
#div_root{
margin:auto;
width:800px;
}
#div_menu{
width:7%;
height:100%;
background-color:#819FF7;
}